
/* navbar code */

* {
    padding: 0%;
    margin: 0%;
}

body {
  overflow-x: hidden;
}

/* .nav-bar {
    display: flex;
    margin-top: 30px;
    margin-left: 20%;
    gap: 80px;
    list-style: none;
} */

/* .nav-bar > li > a {
    text-decoration: none;
    color: gray;
}

.nav-bar > li > a:hover {
    color: white;
    transition: color 0.6s;
} */

.contact-btn {
    text-decoration: none;
    border-radius: 25px;
    padding: 5px 20px;
    color: rgb(10, 10, 10);
    background-color: #eddea4;
    transition: 0.5s;
    margin-left: auto;
}  

  .contact-btn:hover {
   background-color: transparent; 
   border: 2px solid #fff;
   background: #ffffff;
   box-shadow: 10px 10px 10px #786F80;
  }
 
  .navbar-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr auto;
  }
  
  .contact-btn{
    justify-self: end;
  }

  .home-background {
    background-color: #eddea4;
}

.center-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin-top: -6%;
    gap: 5px;
  }
  
  .center-section h1 {
    margin-right: 250px;
  }

  .center-section p {
    margin-right: 150px;
  }

  .center-section .header-text {
    margin-right: 250px;
  }

  .donate-btn {
    margin-right: 44%;
    text-decoration: none;
    color: white;
    list-style: none;
    width: 200px;
    height: auto;
    padding: 20px 0;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
    font-weight: bold;
    border: 2px solid #786F80;
    background: #786F80;
  }

  .home-img > img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 500px;
    gap: 5px;
    border-radius: 125%;
    margin-top: -20%;
  }

.sub-section {
    display: flex;
    gap: 140px;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    width: 100%;
    margin-left: 4%;
    margin-top: -9%;
  }
  
  .sub-section div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 5%;
  }

 .volunteer-section {
    display: flex;
    align-items: center;
    background: red;
    color: #ffffff;
    padding: 10px;
  }

  .volunteer-section h3{
    font-size: 20px;
  }
  .volunteer-section p {
    margin-right: 0.5rem;
  }

  .cards-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
  }

  /* .recent-cases {
    background: #eddea4;
  } */

.cards-section > .card {
    background: #eddea4;
}

.all-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.cards-button {
    color: white;
    width: 200px;
    height: auto;
    padding: 10px 0;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid #786F80;
    background: #786F80;
}

.all-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .custom-card {
    margin: 10px;
  }

  .custom-card {
    background: #eddea4;
  }
  
  .button-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .explr-button {
    padding-top: 10px;
    color: #786F80;
    width: 200px;
    height: auto;
    padding: 10px 0;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid #786F80;
    background: #ffffff;
  }
  
  .card {
    width: 20rem;
    margin: 10px;
  }

  .progress {
    height: 5px;
    background-color: #e9ecef;
    border-radius: 5px;
    overflow: hidden;
  }

  .progress-bar {
    height: 100%;
    background-color: green;
    transition: width 0.6s ease;
  }

  .fund-raise .donation-amount {
    font-weight: bold;
    color: #333;
    margin-top: 5px;
  }

  .fund-raise {
    display: flex;
    gap: 170px;
  }

  .cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
  }

  .button-container {
    text-align: center;
    margin-top: 20px;
  }

  .custom-card-body img {
    width: 40px; 
    height: 40px; 
    margin-right: 15px;
    margin: 25px;
    margin-top: -7%;
  }
  .second {
    display: flex;
    align-items: center;
    height: 250px;
  }

  .card-body .content {
    display: flex;
    flex-direction: column;
  }

  .custom-cards-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .custom-card {
    flex: 0 1 calc(50% - 20px);
    margin-bottom: 20px;
  }
  
  .custom-card-body {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .custom-card-body img {
    width: 40px;
    height: 40px;
  }

  
  .content-container {
    display: flex;
    flex-wrap: wrap;
    color: black;
  }
  
  .custom-content-card {
    border: 0;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: calc(33.33% - 20px);
    display: flex; 
    flex-direction: column;
    background: #ffffff;
  }
  
  .custom-content-card h2 {
    font-size: 50px;
    font-weight: bold;
    margin-top: 8% ;
    align-self: flex-start;
  }

  .custom-content-card .texts {
    margin-top: -18%;
    text-align: center;
    margin-right: 100px;
    gap: 10px;
  }

  .custom-content-card .texts .p-1 {
    margin-right: 80px;
  }
  
  

  .abt-us {
    margin-top: 6%;
    color: #786F80;
    width: 200px;
    height: auto;
    padding: 10px 0;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid #786F80;
    background: #ffffff;
    margin-right: 42%;
  }

  .abt-img > img {
    height: 500px;
    gap: 5px;
    margin-top: -30%;
    width: 500px;
    margin-top: 100px;
  }

  .abt-background {
    background: #eddea4;
    width: 100%;
  }

  .other-background {
    background: #eddea4; 
  }

  .volunteer-header .text {
    margin-right: 450px;
  }

  .v-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin-top: -6%;
    gap: 5px;
  }

  .v-section h1 {
    margin-right: 230px;
  }

  .v-section p {
    margin-right: 200px;
  }

  .v-btn{
    margin-top: 6%;
    color: #786F80;
    width: 200px;
    height: auto;
    padding: 10px 0;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid #786F80;
    background: #ffffff;
    margin-right: 46%;
  }
  
  .services-cards {
    gap: 60px;
  }